
@import "../styles/colors";

.loading-spinner,
.loading-spinner:after {
  box-sizing: border-box;
}
.loading-spinner {
  display: inline-block;
}
.loading-spinner:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  margin: 8px;
  border-radius: 50%;
  border: 1px solid $mid-gray;
  border-color: $mid-gray transparent $mid-gray $mid-gray;
  animation: loading-spinner 1.2s linear infinite;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

