$white: #fff;
$black: #000;
$light-gray: #dddddd;
$mid-gray: #c2c2c2;
$dark-gray: #7f7f7f;
$danger: rgb(255, 15, 15);
$success: rgb(0, 193, 48);
$warning: rgb(255, 146, 4);
$primary-blue: rgb(58, 133, 255);