@import "../../styles/colors";
@import "../../styles/animations";

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.nimbus-button {
    position: relative;
    padding: 0.6rem 1rem;
    border-radius: 0.7rem;
    border: 0;
    margin: 0.4rem 0;
    cursor: pointer;
    min-width: 7rem;
    min-height: 2.1rem;
    box-shadow: 1px 1px 5px $light-gray;
    letter-spacing: 0.5px;
    font-weight: 500;
    transition: 0.5s;

    &:hover {
        opacity: 0.8;
    }

    &.primary {
        background-color: $primary-blue;
        color: $white;
    }
    &.error {
        background-color: $danger;
        color: $white;
    }
    &.warning {
        background-color: $warning;
        color: $white;
    }
    &.success {
        background-color: $success;
        color: $white;
    }
    &.disabled {
        background-color: $light-gray;
        text-shadow: 0 1px 1px $white;
        color: $mid-gray;
        pointer-events: none;
    }
}