
@import "./styles/colors";

.main {
  font-family: var(--font-afacad);
  position: relative;
  height: 100%;

  header {
    display: initial;
  }

  .main-content {
    display: table;
    width: 100%;

    .component-list-menu {
      display: table-cell;
      vertical-align: top;
      width: 16rem;
      background-color: $lightest-gray;
      height: 100vh;
      overflow: auto;
      box-shadow: inset 1px 1px 10px $light-gray;
  
      .component-list-header {
        font-size: 1.3rem;
        font-weight: 400;
        padding: 0.5rem 1rem;
        color: $brand-secondary;
        border-bottom: 1px dashed $white;
      }
    }

    .content {
      display: table-cell;
      overflow: auto;
      color: rgb(74, 74, 74);
      padding: 1rem 2rem;
    }
  }
}

