
@import "./styles/colors";

@media (min-width: 250px) {
  .main {
    font-family: var(--font-afacad);
    header {
      box-shadow: 1px 1px 10px #cecece;
    }

    .main-content {
      display: block;

      .content {
        display: block;
        padding: 1rem 1rem;
      }
    }
  }
}

@media (min-width: 600px) {
  .main {
    position: relative;
    height: 100%;
  
    .main-content {
      display: table;
      width: 100%;
  
      .sidebar {
        display: table-cell;
        vertical-align: top;
        width: 16rem;
        background-color: $lightest-gray;
        height: 100vh;
        overflow: auto;
        box-shadow: inset 1px 1px 10px $light-gray;
      }
      .content {
        display: table-cell;
        overflow: auto;
        color: rgb(74, 74, 74);
        
      }
    }
  }  
}



