@import "../app/styles/colors";

.header-wrapper {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: $white;
    min-height: 3rem;
    padding: 0.2rem 1rem;
    border-bottom: 1px solid $lightest-gray;
    z-index: 1000;
    max-width: 100%;

    .nimbus-title {
        font-family: var(--font-pacifico);
        font-size: 1.9rem;
        color: $brand-primary;

        span {
            font-family: Arial, Helvetica, sans-serif;
            color: $brand-secondary;
            font-size: 1.2rem;
            letter-spacing: -1px;
            margin-left: -7px;
        }
    }
}

.component-item {
    a {
        color: rgb(141, 80, 80);
        display: block;
        transition: all 0.8s;
        cursor: pointer;
        padding: 0.5rem 1rem;
        width: 100%;

        &:hover {
            border-left: 10px solid $brand-primary;
        }
    }
}
.current-path {
    background-color: $brand-primary;

    a {
        color: $white;
    }
    
}